<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dynamic title requirement -->
    <title><%= title %> | Course Site</title>
    <!-- Link to the public static stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a> | 
            <a href="/organizations">Organizations</a> | 
            <a href="/projects">Projects</a> | 
            <a href="/categories">Categories</a>
        </nav>
    </header>
    <main>
