        <footer>
                <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.
                <% if (process.env.NODE_ENV === 'development') { %>
                    <span>Development Mode</span>
                <% } %>     
                </p>
        </footer>
    </body>
</html>